/* Default media */
body {
}
.container{
	width: 100%;
	padding-right: 20%;
	padding-left: 20%;
}
.float-rt{
	float: right;
}
.upper{
	text-transform: uppercase;
}
.spacer{
	margin-top:60px;
}
.clear{
	clear: both;
}

/*============== Signature ================= */
.signature{
	margin: 0; 
	padding: 0; 
	border: 1px solid #c4caac;
}
@media print {
.noPrint {
    display:none;
  }
}

.radio {
	margin-left: 5px;
}











